<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysh.garbageRecyle.mapper.WrongQuestionMapper">

    <resultMap id="BaseResultMap" type="com.ysh.garbageRecyle.entity.WrongQuestionEntity">
        <id column="wq_id" jdbcType="INTEGER" property="wqId" />
        <result column="question_id" jdbcType="INTEGER" property="questionId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_answer" jdbcType="VARCHAR" property="userAnswer" />
    </resultMap>

    <sql id="Base_Column_List">
        wq_id, question_id, user_id, user_answer
    </sql>

    <sql id="Base_Where_Clause">
        <where>
            <if test="questionId != null">
                and question_id = #{questionId,jdbcType=INTEGER}
            </if>
            <if test="userId != null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="userAnswer != null">
                and user_answer = #{userAnswer,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from wrong_question
        where wq_id = #{wqId,jdbcType=INTEGER}
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        select wq_id, question_id, user_id, user_answer
        from wrong_question
        <include refid="Base_Where_Clause" />
    </select>

    <insert id="insert" keyColumn="wq_id" keyProperty="wqId" parameterType="com.ysh.garbageRecyle.entity.WrongQuestionEntity" useGeneratedKeys="true">
        insert into wrong_question (question_id, user_id, user_answer
            )
        values (#{questionId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userAnswer,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" keyColumn="wq_id" keyProperty="wqId" parameterType="com.ysh.garbageRecyle.entity.WrongQuestionEntity" useGeneratedKeys="true">
        insert into wrong_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                question_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userAnswer != null">
                user_answer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userAnswer != null">
                #{userAnswer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ysh.garbageRecyle.entity.WrongQuestionEntity">
        update wrong_question
        <set>
            <if test="questionId != null">
                question_id = #{questionId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="userAnswer != null">
                user_answer = #{userAnswer,jdbcType=VARCHAR},
            </if>
        </set>
        where wq_id = #{wqId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ysh.garbageRecyle.entity.WrongQuestionEntity">
        update wrong_question
        set question_id = #{questionId,jdbcType=INTEGER},
            user_id = #{userId,jdbcType=INTEGER},
            user_answer = #{userAnswer,jdbcType=VARCHAR}
        where wq_id = #{wqId,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from wrong_question
        where wq_id = #{wqId,jdbcType=INTEGER}
    </delete>
</mapper>